/* ==== primary color used in website layout ==== */

$color-blue: #2fb7ec;
$color-white: #fff;
$color-grey: #f3f2f2;
$color-brown: #6a6363;
$color-green: #26df09;

/* ===== font used in website ===== */
$f-color-black: #383938;
$f-color-white: #f6f2f2;

/* ===== font used in website ===== */
$f-primary: Roboto;
$f-secondary: "Orelega One";